@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');
body {
    margin: 0 auto;
    background-image: url(../img/background.jpg);
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
}

header {
    position: fixed;
}

.logo {
    margin: 20px;
}

.logo:hover {
    width: 250px;
}

.logo_md {
    display: flex;
    justify-content: center;
    margin: 30px;
}

a img {
    width: 200px;
}

h1 {
    max-width: 740px;
    width: 100%;
    margin: 0 auto;
    color: white;
    text-align: center;
}


.main_player div {
    margin: 0 auto;
    max-width: 975px;
    width: 90%;
    height: 90%;
    border: 3px solid white;
    margin-top: 30px;
}

video {
    width: 100%;
    height: 100%;
}

.form {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input input {
    margin: 30px;
    width: 65%;
    border-radius: 5px;
    padding: 13px 50px;
    border: none;
    font-size: 13.3333px;
}

.input {
    display: flex;
    flex-wrap: wrap;
}

.button_container {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    justify-content: center;
    width: 100%;
}

.offer {
    max-width: 400px;
    margin: 20px auto;
    width: 100%;
    display: flex;
    font-size: 11px;
    align-items: baseline;
    justify-content: center;
    background-color: rgba(0, 0, 0, .5);
}

.button_yes {
    margin: 0px 20px;
    line-height: 27px;
    margin-left: 15px;
    display: block;
    z-index: 1;
    cursor: pointer;
    width: 100%;
    top: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
    text-transform: uppercase;
    color: #fff;
    padding-left: 75px;
    font-weight: 700;
    font-size: 20px;
    border: none;
    outline: none;
    padding-right: 15px;
    position: relative;
    -webkit-transition: all ease .3s;
    transition: all ease .3s;
    -webkit-box-shadow: 0 0 15px 0 #1EACF5;
    box-shadow: 0 0 15px 0 #1EACF5;
    background: #1EACF5;
    background: -webkit-gradient(linear, left top, right top, from(#1EACF5), to(#1885BC));
    background: linear-gradient(90deg, #1EACF5 0%, #1885BC 100%);
    -webkit-transition: 0.3s;
    transition: 0.3s
}

.button_yes:before {
    position: absolute;
    display: block;
    content: "";
    width: 132px;
    height: 126px;
    background: url(../img/main-form-button.png) center center no-repeat;
    background-size: 100% 100%;
    z-index: 2;
    left: -70px;
    top: 50%;
    margin-top: -63px;
    pointer-events: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    filter: hue-rotate(180deg);
    margin-left: 40px;
}

.button_yes:hover {
    top: -7px;
    -webkit-box-shadow: 0 10px 15px 0 #1EACF5;
    box-shadow: 0 10px 15px 0 #1EACF5
}

.button_yes:hover:before {
    top: calc(50% + 7px)
}

.button {
    margin: 40px 0;
    position: relative
}

.button {
    display: flex;
    flex-direction: column;
}

.button:before, .button:after {
    content: '';
    opacity: 0.5;
    position: absolute;
    width: 140%;
    height: 50%;
    left: -20%;
    transition: 0.3s;
    background-image: url(../img/main-form-right-arrow.png);
    background-position: right center;
    background-repeat: no-repeat;
    animation: slideArrows 1.5s 0s infinite both;
    filter: hue-rotate(180deg);
}

.button:before {
    background-image: url(../img/main-form-left-arrow.png);
    background-position: left center;
}

.partner {
    display: flex;
    justify-content: center;
    width: 100%;
}

.menu_partner {
    max-width: 700px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
}

.menu_partner li {
    margin: 10px;
}

li {
    list-style: none;
}

ul {
    margin: 0px;
}

.main_stat {
    position: fixed;
    bottom: 0;
    left: 0;
    color: #fff;
    width: 100%;
    pointer-events: none;
    height: 100px;
}

.main_stat_block {
    position: absolute;
    bottom: 20px;
    border-radius: 2rem;
    overflow: hidden;
    background-color: #13d61c;
    display: flex;
    align-items: center;
    color: white;
    font-size: 20px;
    padding: 7px;
}

.fas {
    position: relative;
    top: 60px;
    left: 45px;
}

.input {
    display: flex;
    justify-content: center;
    padding: 13px 50px;
}

.user {
    width: 50%;
}

.mail {
    width: 50%;
}

.online {
    left: 20px;
}

.lasts {
    right: 20px;
    text-align: right;
    background-color: #1eacf5;
}

.num {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #053607;
    border-radius: 2rem;
    width: 50px;
    height: 50px;
    text-align: center;
    margin-right: 10px;
    font-weight: bold;
}

.num_last {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #132752;
    border-radius: 2rem;
    width: 50px;
    height: 50px;
    margin: 0px 10px;
    font-weight: bold;
}

.text {
    display: flex;
    flex-direction: column;
}

footer {
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    background: rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
    text-align: center;
    font-size: 13px;
    color: #fff;
    ;
    padding: 20px;
}

.menu_footer {
    display: flex;
    justify-content: center;
    color: white;
}

.policy,
.agreement {
    color: white;
    text-decoration: none;
}

.menu_footer div {
    margin: 10px 20px;
}

.copyright {
    margin-top: 20px;
}

@keyframes slideArrows {
    70% {
        width: 130%;
        height: 50%;
        left: -15%;
        opacity: 1
    }
    100% {
        width: 130%;
        height: 50%;
        left: -15%;
        opacity: 0
    }
}

@media screen and (max-width: 900px) {
    .main_stat {
        display: none;
    }
}

@media screen and (max-width:1100px) {
    .logo {
        display: none;
    }
}

@media screen and (min-width: 1100px) {
    .logo_md {
        display: none;
    }
}

@media screen and (max-width:1000px) {
    .menu_partner {
        max-width: 600px;
        display: flex;
        flex-wrap: wrap;
    }
}

@media screen and (max-width:860px) {
    .button:before, .button:after {
        display: none;
    }
}

@media screen and (max-width:765px) {
    .button_yes:before {
        display: none;
    }
    .button_yes {
        width: 100%;
        max-width: 450px;
        padding: 0px 10px;
    }
    .input {
        flex-direction: column;
    }
    .input input {
        max-width: 400px;
        width: 70%;
        margin: 10px 0px;
    }
    .menu_footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .copyright {
        text-align: center;
    }
    footer {
        text-align: center;
    }

    .fas {
        position: relative;
        top: 40px;
        left: 25px;
    }
}